.note-modal-content {
    --padding-start: 16px;
    --padding-end: 16px;
  }
  
  ion-item {
    margin-bottom: 20px;
  }
  
  ion-label {
    color: #666; /* Gris para el texto del label */
  }
  
  ion-input, ion-textarea {
    border-radius: 8px;
    padding: 10px;
  }
  
  ion-button {
    --border-radius: 8px;
  }
  
  .button-container {
    padding-top: 20px;
  }
  
  .loading-alert {
    ion-progress-bar {
      margin-bottom: 10px;
    }
  }

  .eliminar {
    --color: #fff;
    --background: rgb(255, 68, 68);
    color: #fff;
  }